@model IEnumerable<ABC_Bank.Models.Transactions>

@{ ViewData["Title"] = "Index"; }

@{ Layout = "~/Views/Shared/_AdminLayout.cshtml"; }


<div class="container">
    <h1>All Transactions</h1>

    <form asp-controller="Transaction" asp-action="Index">
        <p>
            First Name: <input type="text" name="SearchString" />
            <input type="submit" value="Filter" />
        </p>

    </form>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TransactionName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TransactionAmount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TransactionDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DestinationAccount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AccountNumber)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.TransactionName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TransactionAmount)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TransactionDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DestinationAccount)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.AccountNumber)
    </td>
    <td>
        <a asp-action="Edit" asp-route-id="@item.TransactionsId">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.TransactionsId">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.TransactionsId">Delete</a>
    </td>
</tr>}
        </tbody>
    </table>
</div>